/*Formatação Geral*/
body{
	font-family: Bangers;
}

h1, h2, h3{
    margin: 0;
    font-family: Bangers;
    font-weight: 700;
}

p{
	font-family: "Luckiest+Guy", Bangers;
}	

.container{.
	width: 100%;

}	


/*Cabeçalho ou barra de navegação*/
.logo img{
	border-radius: 50%;
}

nav{
    display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #32CD32;
	padding: 25px;
}

nav ul{
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

nav ul li{
	text-align: center;
	width: 100%;
	font-size: 1.5em;
	padding: 2%;
}

nav ul li a{
	display: inline-block;
	padding: 10 pc 0;
	width: 100%;
	text-decoration: none;
	color: #90EE90 
}

/* Header */

header{
	background-image: url('../img/fundo.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 30px;
}

/* Sobre */

#sobre{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: #32CD32;
	color: #fff;
}

#sobre h2{
	margin-top: 20px;
	font-size: 2em;
}

.foto img{
	width: 60%;
}
 .foto{
 	float: left;
 	width: 50%;
 }

 .texto{
 	float: right;
 	width: 50%;
 }



header p{
	margin-bottom: 2em;
	font-size: 1.7em;

}

/* Competencias */

#competencias{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}
#competencias h2{   
	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 2em;
	text-align: center;
}

#competencias h3,p{ 
	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 1em;
	text-align: center;
}

#competencias a{
	text-decoration: none;
}
#competencias img{
	width: 80%;
	margin-bottom:0;

}
#competencias .comp{ 
	border-left: 5px solid black;
	border-right: 5px solid black;
	border-bottom: 5px solid black;
	margin-top: 0;
	font-family: "Gochi Hand","Healvetica","Arial",sans-serif;
	padding-right: 15px;
	padding-left: 15px;
	line-height: 1.5;
}





@media screen and (min-width: 768px){

/*Cabeçalho ou barra de navegação*/
    nav{
    	flex-direction: row;
    	justify-content: space-around;
    }

    nav ul{
    	flex-direction: row;
    	width: 70%;
    }
/* Header */

header{
    height: 60vh;
	justify-content: center;

}

/* Sobre */

    #sobre{
 	    flex-direction: row;
 	    flex-wrap: wrap;
 	    align-items: center;
 	    height: 90vh;
 	    justify-content: center;
 	    min-height: 80vh; 
    }
    #sobre h2{
 	    text-align: center;
 	    width: 100%;
    }
    #sobre div{
    	flex-grow: 1;
    	flex-basis: 300px;
    	padding: 0 10px;

    }

/* Competencias */
#competencias{
	flex-direction: row;
	flex-wrap: wrap;
}
#competencias h2,h3{
	width: 100%;
	text-align: center;
}
#competencias .comp{
	width: 33.3333333333%;
	text-align: center;
}








}